/* aboutus start */
.test-shinee {
  position: relative;
  overflow: hidden;
}

.test-shinee img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.test-shinee:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 12%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0) 100%);
}

/* Hover state - trigger effect */
.test-shinee:hover:after {
  opacity: 1;
  left: 200%;
  /* transition: left 0.9s ease, top 0.9s ease, opacity 0.15s ease; */
  transition: left 1s ease-out, opacity 0.15s ease;
}

.test-shinee:active:after {
  opacity: 0;
}

.count_text {
  font-size: 1.75rem;
}

@media only screen and (max-width: 1180px) {
  .count_text {
    font-size: 1rem;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-18px);
  }

  100% {
    transform: translateY(0);
  }
}

.animated-image {
  display: block;
  margin: 0 auto;
  animation: upDown 3s ease-in-out infinite;
}

.whyno {
  color: #9b9b9b;
  font-size: 50px;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
}

.whyno:hover {
  color: var(--red) !important;
}

/* aboutus end */
/* missinvision start */
/* .main_vi_mi {
  padding: 100px 10px 150px 10px;
}

.vision_mision_bg {
  width: 100%;
  height: auto;
  background-image: url("../Images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0px 0px 0px 1500px #240000c0;
  z-index: 1 !important;
}

.mainViMiSec {
  background: transparent !important;
  margin-top: -100px !important;
  z-index: 10 !important;
}

.play_Circle_icon {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px 5px currentColor;
  box-shadow: 0 0 15px 5px currentColor;
  -webkit-animation: button-ripple 3s infinite;
  animation: button-ripple 3s infinite;
}

@keyframes button-ripple {
  0% {
    box-shadow: 0 0 5px 2px currentColor;
  }

  50% {
    box-shadow: 0 0 20px 10px currentColor;
  }

  100% {
    box-shadow: 0 0 5px 2px currentColor;
  }
}

.Vi_Mi-shadow {
  width: 50px;
  height: 50px;
  background-color: #7400005b;
  border-radius: 50%;
}

.vision_mission_icon {
  font-size: 70px;
  color: #740000;
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

.Vi-Mi_Tittle {
  transition: all 0.4s ease-in-out !important;
}

.Main_ViMi_box:hover .vision_mission_icon {
  transform: rotateY(360deg) !important;
}

.Main_ViMi_box:hover .Vi-Mi_Tittle {
  color: var(--green) !important;
} */

/* missinvision end */

/* AboutImpact start */
.Service_card:hover .bg-image {
  transform: scale(1.3) !important;
}

.Service_icon {
  border-radius: 20px 0px 0px 0px;
}

.Service_icon_wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* AboutImpact end */
/* brouvhers start */
.brouchers_bg {
  background-image: url("https://jr-equipment.vercel.app/static/media/old-texture-newspapers-arrangement-high-angle_23-2149318878.1e22bb7c1e14221f2973.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0px 0px 0px 1500px #1a0000d0;
  object-fit: fill;
}

/* brouvhers end */
/* Faq start */
.faq_height{
  height: 564px !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}

.addicon {
  background-color: var(--red) !important;
  border-radius: 10px !important;
}

.accordion-button:not(.collapsed) {
  border-radius: 10px 10px 0px 0px !important;
}

.accordion-button::after {
  filter: brightness(0) invert(1);
}

.accordion-body {
  background-color: whitesmoke;
  border-radius: 0px 0px 10px 10px;
}

/* Faq end */

/* principals start */
/* @import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Dancing+Script:wght@400..700&family=Permanent+Marker&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Great+Vibes&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Ewert&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Ewert&family=Monoton&display=swap'); */
.h1strike {
  /* font-family: "Permanent Marker", sans-serif; */
    /* font-family: "Ewert", serif; */
  font-family: "Berkshire Swash", serif !important;
    /* font-family: "Monoton", sans-serif; */
  font-weight: 400;
  font-style: normal;



}


@media screen and (max-width:992px) {

  .littleimg1 {
    right: 5px !important;
  }

  .littleimg2 {
    bottom: 70px !important;
  }
}

@media screen and (max-width:768px) {
  .littleimg1 {
    display: none;
  }
}

@media screen and (max-width:576px) {
  .principalimg img {
    min-height: 100% !important;
  }

  .principaltext div {
    top: 5px !important;
    /* right: 30px !important; */
  }

  .littleimg1 {
    bottom: 50px !important;
    right: 10px !important;
  }
  .faq_height{
  height: 468px !important;
}
}

/* principals end */